<a href="/pages/0">Back to the start</a>
<table style="width:75%", border="1">
  <tr>
    <td></td>
    <td>
      <% if @page.option1.nil? %>
        <form action='/pages/<%= @pageid %>/option1' method='post'>
          <input type="text" name="option1"><br>
          <input type="submit" value="Submit">
        </form>
      <% else %>
        <%= @page.option1.text %>
      <% end %>
    </td> 
    <td></td>
  </tr>
  <tr>
    <td>
      <% if @page.option4.nil? %>
        <form action='/pages/<%= @pageid %>/option4' method='post'>
          <input type="text" name="option4"><br>
          <input type="submit" value="Submit">
        </form>
      <% else %>
        <%= @page.option4.text %>
      <% end %>
    </td>
    <td><%= @page.chapter %></td> 
    <td>
      <% if @page.option2.nil? %>
        <form action='/pages/<%= @pageid %>/option2' method='post'>
          <input type="text" name="option2"><br>
          <input type="submit" value="Submit">
        </form>
      <% else %>
        <%= @page.option2.text %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <% if @page.option3.nil? %>
        <form action='/pages/<%= @pageid %>/option3' method='post'>
          <input type="text" name="option3"><br>
          <input type="submit" value="Submit">
        </form>
      <% else %>
        <%= @page.option3.text %>
      <% end %>
    </td>
    <td></td>
  </tr>
</table>