<a href="/pages/0">Back to the start</a>
<table style="width:75%", border="1">
  <tr>
    <td></td>
    <td>
      <% if @page.option_1.nil? %>
        <form action='/pages/<%= @pageid %>/1' method='post'>
          <input type="hidden" id="formNum" name="formNum" value="1">
          <input type="text" name="option"><br>
          <input type="submit" value="Submit">
        </form>
      <% else %>
        <a href="/pages/<%= @story.pageid(@page.option_1.page_link) %>">
          <%= @page.option_1.text %>
        </a>
      <% end %>
    </td> 
    <td></td>
  </tr>
  <tr>
    <td>
      <% if @page.option_4.nil? %>
        <form action='/pages/<%= @pageid %>/4' method='post'>
          <input type="hidden" id="formNum" name="formNum" value="4">
          <input type="text" name="option"><br>
          <input type="submit" value="Submit">
        </form>
      <% else %>
        <a href="/pages/<%= @story.pageid(@page.option_4.page_link) %>">
          <%= @page.option_4.text %>
        </a>
      <% end %>
    </td>
    <td><%= @page.chapter %></td> 
    <td>
      <% if @page.option_2.nil? %>
        <form action='/pages/<%= @pageid %>/2' method='post'>
          <input type="hidden" id="formNum" name="formNum" value="2">
          <input type="text" name="option"><br>
          <input type="submit" value="Submit">
        </form>
      <% else %>
        <a href="/pages/<%= @story.pageid(@page.option_2.page_link) %>">
          <%= @page.option_2.text %>
        </a>
      <% end %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <% if @page.option_3.nil? %>
        <form action='/pages/<%= @pageid %>/3' method='post'>
          <input type="hidden" id="formNum" name="formNum" value="3">
          <input type="text" name="option"><br>
          <input type="submit" value="Submit">
        </form>
      <% else %>
        <a href="/pages/<%= @story.pageid(@page.option_3.page_link) %>">
          <%= @page.option_3.text %>
        </a>
      <% end %>
    </td>
    <td></td>
  </tr>
</table>